@mixin fade($time){
  -o-transition: $time ease-in-out;
  -ms-transition: $time ease-in-out;
  -moz-transition: $time ease-in-out;
  -webkit-transition: $time ease-in-out;
  transition: $time ease-in-out;
}
.featured {
  display: inline-block;
  float: left;
  height: 100vh;
  width: calc(100vw - 250px);
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  article {
    display: inline-block;
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transform: scale(1.1);
    @include fade(.15s);
    &.london {
      background: url(/img/london.png) no-repeat center center;
      background-size: cover;
    }
    &.paris {
      background: url(/img/paris.png) no-repeat center center;
      background-size: cover;
    }
    &.berlin {
      background: url(/img/berlin.png) no-repeat center center;
      background-size: cover;
    }
    &.dublin {
      background: url(/img/dublin.png) no-repeat center center;
      background-size: cover;
    }
    &.madrid {
      background: url(/img/madrid.png) no-repeat center center;
      background-size: cover;
    }
  }
  select {
    display: none;
  }
  h5 {
    display: inline-block;
    float: left;
    position: fixed;
    color: #fff;
    font-size: 3em;
    z-index: 3;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 125px;
    width: 100%;
    box-sizing: border-box;
    text-shadow: 0 0 100px rgba(0,0,0,0.75);
    background: rgba(0,0,0,0.75);
    background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(100%, rgba(98,125,77,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#627d4d', GradientType=0);
  }
  .content {
    display: inline-block;
    float: left;
    position: relative;
    z-index: 2;
    width: calc((300px * 5) + 100px);
    box-sizing: border-box;
    margin-top: 100px;
    padding: 50px;
    white-space: nowrap;
    text-shadow: 0 0 100px rgba(0,0,0,0.5);
    .day {
      display: inline-block;
      float: left;
      width: 300px;
      box-sizing: border-box;
      padding: 0 25px;
      position: relative;
      text-align: center;
      white-space: normal;
      .icon {
        display: inline-block;
        width: 100%;
        text-align: center;
        color: #fff;
        font-size: 5em;
      }
      .temp {
        display: inline-block;
        color: #fff;
        height: 80px;
        margin: 15px 0;
        position: relative;
        .current {
          display: inline-block;
          float: left;
          font-size: 4em;
          font-weight: bold;
          line-height: 80px;
          vertical-align: middle;
        }
        .hl {
          display: inline-block;
          float: left;
          margin-left: 20px;
          margin-top: calc((80px - 46px) / 2);
          .high,.low {
            display: inline-block;
            float: left;
            clear: both;
            font-size: 1.2em;
            font-weight: bold;
          }
        }
      }
      h1 {
        display: inline-block;
        width: 100%;
        color: #fff;
        text-align: center;
        i {
          margin-right: 15px;
        }
      }
    }
  }
}
.sidebar {
  display: inline-block;
  position: relative;
  z-index: 4;
  float: left;
  height: 100vh;
  width: 250px;
  article {
    display: inline-block;
    float: left;
    width: 100%;
    height: calc(100vh / 5);
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
      span {
        background: rgba(0,0,0,0.75);
      }
    }
    span {
      display: inline-block;
      float: left;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.85);
      padding: 25px 0;
      box-sizing: border-box;
      @include fade(.15s);
      &.selected {
        background: rgba(0,0,0,0.5);
      }
      h1 {
        color: #fff;
        margin: 0;
        display: inline-block;
        float: left;
        width: 100%;
      }
      h2 {
        display: inline-block;
        float: left;
        color: #fff;
        margin: 0;
        width: calc(50% - 20px);
        padding: 0 10px;
        font-size: 1.2em;
        text-align: center;
        i {
          margin-right: 5px;
        }
      }
      h3 {
        display: inline-block;
        float: left;
        color: #fff;
        width: 100%;
        margin: 0;
        height: calc(100% - 45px);
        position: relative;
        div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background: transparent;
          font-size: 2em;
          i {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
    &.london {
      background: url(/img/london.png) no-repeat center center;
      background-size: cover;
    }
    &.paris {
      background: url(/img/paris.png) no-repeat center center;
      background-size: cover;
    }
    &.berlin {
      background: url(/img/berlin.png) no-repeat center center;
      background-size: cover;
    }
    &.dublin {
      background: url(/img/dublin.png) no-repeat center center;
      background-size: cover;
    }
    &.madrid {
      background: url(/img/madrid.png) no-repeat center center;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 1024px){
  .sidebar {
    display: none;
  }
  .featured {
    width: 100vw;
    .select {
      display: inline-block;
      float: left;
      position: fixed;
      z-index: 3;
      margin: 0;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 125px;
      width: 100%;
      box-sizing: border-box;
      background: rgba(0,0,0,0.75);
      background: -moz-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.75)), color-stop(100%, rgba(98,125,77,0)));
      background: -webkit-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
      background: -o-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
      background: -ms-linear-gradient(top, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0.75) 0%, rgba(98,125,77,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#627d4d', GradientType=0);
      i {
        display: inline-block;
        float: left;
        font-size: 3em;
        color: #fff;
        line-height: 58px;
      }
    }
    select {
      display: inline-block;
      float: left;
      color: #fff;
      font-size: 3em;
      font-weight: 700;
      outline: none;
      border: none;
      background: transparent;
    }
    h5 {
      display: none;
    }
    .content {
      padding: 50px 50px 0;
      width: calc(100vw * 5);
      .day {
        width: 100vw;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .featured {
    .select {
      padding: 25px 0;
      text-align: center;
      i {
        float: none;
      }
    }
    select {
      float: none;
    }
    .content {
      margin-top: 50px;
      padding: 50px 0 0;
    }
  }
}

@media screen and (max-height: 750px){
  .sidebar {
    article {
      span {
        padding: 10px 0;
      }
    }
  }
}
@media screen and (max-height: 630px){
  .sidebar {
    article {
      span {
        h2 {
          display: none;
        }
        h3 {
          height: calc(100% - 22px);
        }
      }
    }
  }
}
